.contact_container{
  height: 100vh;
  background-color: rgba(131,131,131,0.11);
  overflow: scroll;
  padding-left: 10px;
  text-align: center;
  display: flex;
  flex-flow: column;
  font-size: 20px;
  font-weight: 500;
  justify-content: space-between;
  h1{
    padding: 3% 5% 1% 5%;
    font-size: 2vw;
    animation-name: left_right;
    animation-duration: 0.75s;
    animation-timing-function: cubic-bezier(0,0,.2,1);
    align-self: flex-start;
  }


    .exit_statement{
      align-self: center;
      margin: 25px auto;
      animation-name: bottom_top;
      animation-duration: 0.75s;
      animation-timing-function: cubic-bezier(0,0,.2,1);
    }

    .contact_links{
      align-self: center;
      width: 80%;
      display: flex;
      flex-flow: wrap;
      justify-content: space-around;
      a{
        min-width: 20vw;
        font-weight: 700;
        width: 23%;
        color: black;
        text-decoration: none;
        background: rgba(131,131,131,0);
        border-radius: 18px;
        border: 1px solid rgba(131,131,131,0);
        animation-name: top_bottom;
        animation-duration: 0.75s;
        animation-timing-function: cubic-bezier(0,0,.2,1);
        img{
          width: 100%;
        }
      }
      a:hover{
        transition: color 0.5s ease;
        color:#ff7e00;
        background: #ffffff;
        border-radius: 18px;
        border: 1px solid #cfcece;
      }

    }

    .contact_info{
      align-self: center;
      width:80%;
      display: flex;
      flex-flow: row;
      justify-content: space-around;
      font-size: 20px;
      .contact_text{
        width: 35%;
      }
      .contact_text{
        animation-name: left_right;
        animation-duration: 0.75s;
        animation-timing-function: cubic-bezier(0,0,.2,1);
      }
      .contact_details{
        animation-name: right_left;
        animation-duration: 0.75s;
        animation-timing-function: cubic-bezier(0,0,.2,1);
        width: 50%;
        display: flex;
        flex-flow: column;
        justify-content: flex-end;

      }


    }


}
