@import './Header.scss';
@import './Home.scss';
@import './Contact.scss';
@import './About.scss';
@import './Work.scss';
*{
  margin: 0;
  padding: 0;

}

.App{
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.fade-enter{
  opacity:0;
  z-index: 1;
}
.fade-enter.fade-enter-active{
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
.fade-exit {
  opacity: 0;
  z-index: 1;
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}




@media( max-width:1200px){
  .work_container{
    .me{
      position: relative;
      top:5vh;
      font-size: 1.5em;
    }
    .project{
      position: relative;
      top:10vh;
      font-size: 1.75em;
    }
    .project_container{

      .works{
        position: relative;
        top: 10vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        height: auto;
        padding-bottom: 40px;
        .work_link{
          min-width: 200px;
          padding: 15px;
          .work_items{
            width: 30%;
            min-width: 180px;
          }

        }
      }
    }

  }

  .project_nav{
    font-size: 0.75em;
  }


  .about_project{
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 40px;

    .project_summary{
      width: 90%;
      span{
        font-size: 1.5em;
      }
      p{
        font-size: 15px;
        text-align: center;
      }

    }

    .project_icon{
      width: 25%;
      min-width: 100px;
      span{
      display: none;
      }
    }
    .github{
      width: 25%;
      min-width: 100px;
    }
    .you_link{
      align-self: flex-start;
      min-width: 100px;
      width: 25%;
      h3{
        display: none;
      }
    }
  }




.tech_exp{
    position: relative;
    top:10vh;
    flex-wrap:wrap;
    flex-flow: wrap;
    justify-content: space-between;
    .tech_items{
      display: flex;
      flex-wrap: wrap;
      flex-flow: column;
      justify-content: flex-start;
      height: auto;
      width: auto;
      margin: 10px;
      .tech_img{
        width: 100%;
        height: auto;
        padding-bottom: 10px;
      }
    }

  }

  .first{

    .about_container{
      display: flex;
      flex-flow: column;
      justify-content: flex-start;
      overflow: scroll;


      h1{
        font-size: 1.5em;
        margin-top: 5vh;
      }
      .me{
        font-size: 1em;
        margin-top: 5vh;
      }
      .i_am_a{
        font-size: 1.5em;
      }
      .goals{
        flex-wrap: wrap;
        flex-flow: column;
        justify-content: space-between;
        height: auto;
        .goal_items{
          width: 90%;
          display: flex;
          justify-content: space-between;
          .summary{
            height: 100%;
            margin: 15px 0;
            width: 100%;
            font-size: 15px;
          }
        }
      }
    }
  }

}


@media(max-width: 850px){
  body{
    overflow: hidden;
  }
  .first{
    .container{
      padding: 0;
    }
  }

  .about_container{
    padding: 0px;
    height: 90vh ;
    width: 100vw;
  }
  .work_container{
    padding: 0;
    height: 90vh;
    width: 100vw;
  }

  .contact_container{
    height: 90vh;
    padding:0;
    padding-bottom: 10px;
    margin: 0;
    h1{
      font-size: 1.5em;
      margin-top: 5vh;
    }
      .contact_links{
        display: flex;
        flex-wrap: wrap;
        flex-flow: wrap;
        justify-content: center;
        margin: 20px 0;
        a{
          min-width: 120px;
          font-size: 15px;
        }
      }
      .exit_statement{
        margin:25px 0;
        font-size: 15px;
      }
      .contact_info{
        display: flex;
        flex-flow: column;
        font-size: 15px;
        .contact_text{
          width: 100%;
          padding: 15px 0;
        }
        .contact_details{
          width:100%;
          padding: 15px 0;
        }



    }

  }


  .first{
    margin-top: 7px;
    padding-bottom: 5px;
    width: 100%;
    float: none;
    z-index: -1;
    height: 90vh;

    .container{
      width: 100vw;
      background-position: 35% ;
      background-size: cover;
      background-repeat: no-repeat;
      .about{
        margin:0;
        font-size: 1.2em;
        top: 20vh;
        left:50vw;
        position: relative;
        width: 60vw;
      }
      .Name{
        margin:0;
        top: 20vh;
        left:50vw;
        position: relative;
        h1{
          font-size: 1.5em;
        }

      }
    }
  }


  .side_nav{
    width:100vw;
    height: 10vh;
    justify-content: space-between;
    flex-flow: row;
    float: none;
    z-index: 2;
    min-height: 75px;
    .face{
      height: 80%;
      position: static;
      width: auto;
      margin: auto 5%;
      z-index: 2;
    }
    .burger{
      display: block;
      margin: auto 5%;
      width: auto;
      height: 80%;
      z-index: 2;
    }
    .Links.hide{
      transform: translateY(-120%);
      transition: transform 0.3s ease-in;
      z-index: 1;
    }
    .Links.show{
      display: block;
      transform: translateY(0);
      transition: transform 0.3s ease-in;
      z-index: 1;
      li{
        box-shadow: 1px 1px 3px black;
      }
      li.one{
        animation-name: right_left2;
        animation-duration: 0.75s;
        animation-timing-function: cubic-bezier(0.8,0.1,0.35,0.7);
      }
      li.two{
        animation-name: right_left2;
        animation-duration: 0.75s;
        animation-timing-function: cubic-bezier(0.85,0.15,0.4,0.65);
      }
      li.three{
        animation-name: right_left2;
        animation-duration: 0.75s;
        animation-timing-function: cubic-bezier(0.9,0.20,0.45,0.6);
      }
      li.four{
        animation-name: right_left2;
        animation-duration: 0.75s;
        animation-timing-function: cubic-bezier(0.95,0.25,0.50,0.55);
      }

    }
    .Links{
      animation: none;
      position: absolute;
      right: 0px;
      height: 90vh;
      top: 10vh;
      background-color: rgb(1, 29, 58);
      padding: 0;
      .button_work{
        height: 25%;
        font-size: 1em;
        cursor: pointer;
        margin: 5vh auto;


        hr{
          height: 100%;
          width: 100%;
          margin:0;
          line-height: 20px;
          border: none;

        }
        hr:after{
          padding: 0.5em 1em;
          font-weight: 100;
        }
      }



      span{
        display: none;
      }
    }
    .icon_bar{
      display:none;
      flex-wrap: wrap;
      height: 10vh;
      margin: auto auto 5vh auto ;
      a{
        width: 40%;
        min-width: 25px;
        min-height: 25px;
        align-items: center;
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
  }

}

@media (max-width: 330px){
  .first{
    .container{
      height: 87vh;
    }
  }

  .about_container{

    height: 87vh ;

  }
  .work_container{

    height: 87vh;

  }

  .contact_container{
    height: 87vh;
  }
}
