*{
  margin: 0;
  padding: 0;
}
.side_nav{
  background-color: rgb(1, 29, 58);
  width: 250px;
  height: 100vh;
  box-shadow: 5px 5px 5px black;
  float:left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .face{
    width: 150px;
    height: 150px;
    position: relative;
    top:25px;
    left:50px;
  }

  .Links{
    align-self:flex-end;
    margin-bottom: 100px;
    width: 100%;

    ul{
      width: 100%;
      list-style: none;
      display: flex;
      justify-content:space-around;
      flex-direction: column;
    }

  .button_work{
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    height: 100px;
    background-color: rgb(1, 29, 58);
    font-size: 30px;
    font-weight: 700;
    color: rgb(43, 144, 255);
    border: none;
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    text-decoration: none;

    hr{
      text-align: center; /* horizontal centering */
      align-items: center;
      align-content: center;
      line-height: 0px; /* vertical centering */
      height: 1px; /* gap between the lines */
      border-width: 2px 0 0 0; /* top and bottom borders */
      border-style: solid;
      border-color: rgb(43, 144, 255);
      font-size: 100;
      margin: 15px 30px 2px 30px; /* 20px space above/below, 10px left/right */
      overflow: visible;
    }
    hr:after{
      content: " ";
      background: url("../../components/header/Buttons/Home_icon.svg")no-repeat center;
      background-color: rgb(1, 29, 58);
      /* Controls the whitespace around the symbol */
      display: inline;
      padding: 0 0.5em;
      font-weight: 100;


    }

    span{
      font-size: 15px;
      text-decoration: none;
    }
  }
  .button_work:hover,
  .button_work:visited{
    text-decoration: none;
  }
  .button_work:focus {
    text-decoration: none;
  }
  li{
    text-decoration: none;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content:space-around;
    flex-direction: column;
  }

  li:hover{
    .button_work{
      transition: color 0.5s ease;
      color:red;
    }
    hr{
      transition: border-color 0.5s ease;
      border-color: red;
    }
    hr:after{
      transition: background-image 0.5s ease;
      background: url("../../components/header/Buttons/Home_icon_after.svg")no-repeat center;
      background-color: rgb(1, 29, 58);
    }

  }

  }
  .icon_bar{
    align-self: center;
    width:80%;
    height: 100px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    img{
      width:30px;
      height: 30px;
    }
  }
}

//First.js

.first{
  font-family: 'Quicksand', sans-serif;
  background-image: url("../../components/pages/Home/Selfie2.jpg");
  background-size: cover;
  float: left;
  height: 100vh;
  opacity: 0.8;
  width: calc(100vw - 250px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: -1;

  .Name{
    font-size: 40px;
    width: 20%;
    min-width: 110px;
    text-align: center;
    align-self: flex-end;
    margin-right:45%;
    margin-top: 165px;
    text-shadow: 1px 1px grey;
  }

  .about{
    font-size: 40px;;
    width: 40%;
    align-self: flex-end;
    margin-right:250px;
    margin-bottom: 3%;
    //color: #b2b2b4;
    color: rgb(43, 144, 255);
  }
  span{
    color:red;
  }

  .goals{
    width: 800px;
    align-self: center;
    position: absolute;
    bottom: 350px;
    right: 10px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;

    p{
      font-size: 40px;;
      color: #b2b2b4;
      align-items: center;
      display: flex;
      flex-flow: column;

      .coding{
        width: 200px;
        height: 200px;

      }
      .pencil{
        width: 200px;
        height: 200px;

      }
      .books{
        width: 200px;
        height: 200px;

      }

    }
  }




}
